body, html {
  margin:0px;
  padding:0px;
  overflow:hidden;
  height:100%;
}

.kiosk-frame{
  overflow:hidden;
  height:100%;
  width:100%;
}

p#version {
  position: absolute;
  font-size: 10px;
  right: 10px;
  top: 10px;
}

.loadingBg{
  position: relative;
  height: 100vh;
  top:1;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}

#sftpStatus {
  position:fixed;
  top:0;
  left:0;
  font-size:12px;
  padding:5px 10px;
  border:1px solid #ccc;
  border-radius:30px;
  margin:10px 0 0 10px;
}
#sftpStatus.success {
  background:#b2f0b2;
  color:#206820;
}
#sftpStatus.danger {
  background:#f0b2b2;
  color:#904a4a;
}
#sftpStatus.warning {
  background:#f0d4b2;
  color:#895416;
}
.small-text {
  font-size:11px;
  clear:both;
  width:270px;
}